[project]
	description = Test repository for Hello_World java based project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/otorre
[access "refs/for/refs/*"]
	read = group user/otorre
	push = group user/otorre
	label-Code-Review = -2..+2 group user/otorre
	label-Verified = -1..+1 group user/otorre
	rebase = group user/otorre
	removeReviewer = group user/otorre
	submit = group user/otorre
[access "refs/heads/*"]
	read = group user/otorre
	create = group user/otorre
	push = +force group user/otorre
	pushMerge = group user/otorre
[access "refs/tags/*"]
	push = group user/otorre
	push = +force group user/otorre
